[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
django-environ = "*"
psycopg2-binary = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
celery = "*"
redis = "*"
aiokafka = "*"

[dev-packages]
factory-boy = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
